* {margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin: 0;
    padding: 0;}

.body {
  width: 100%;
}

.keyboard{
  background-color: #004140;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input-area-container {
  width: 43%;
}

.keyboard__input-area {
  background-color: white;
  max-width: 1020px;
  width: 100%;
  height: 100px;
  max-height: 300px;
  margin-bottom: 20px;
  resize: none;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
}

.keyboard__keys {
  width: 100%;
  max-width: 1020px;
  text-align: center;
}

.keyboard__key {
  height: 45px;
  width: 4%;
  max-width: 90px;
  margin: 3px;
  border-radius: 4px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.keyboard__key_active {
  background-color: red;
}

.keyboard__key_wide {
  width: 8%;
}

.keyboard__key_extra-wide {
  width: 24%;
  max-width: 500px;
}
